* {
  padding: 0px;
  margin: 0px;
  font-family: monaco;
}

#container {
  width: 970px;
  margin: 0px auto;
  text-align: center;
  vertical-align: top;
}

.btn {
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  background-color: green;
  margin-bottom: 10px;
}

#notes {
  width: 970px;
  min-height: 500px;
  overflow-y: scroll;
  text-align: left;
}

.note {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 215px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  background-color: #CACA55;
  vertical-align: top;
}
